include /mixins/gemline
include /mixins/inclusions

block append styles
  +style('hero')

mixin hero(imagesOrTitle)
  - const images = typeof imagesOrTitle === 'object' && imagesOrTitle.length ? imagesOrTitle : null
  - const title = typeof imagesOrTitle === 'string' ? imagesOrTitle : null
  .hero.animate-hero.px-4.px-md-5.rounded-4(class=images ? 'py-2 pb-4' : 'py-2')&attributes(attributes)
    .d-flex.justify-content-around.flex-wrap.gap-2 
      div 
        h1.text-center.display-5.mb-2 #{coupleNames} 
        p.small.text-muted.text-center.mb-2.heading-script 
          - const ymd = eventDateRaw.split('-');
          | #{islandName}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          | #{ymd[2]} · #{ymd[1]} · #{ymd[0]}

    +gemline(0, 3)
    
    if title
      h1.text-center.vibes-script.mb-0 #{title}

    if (images && images.length)
      .hero-carousel.carousel.slide.carousel-fade.hero-img.w-100(data-bs-ride="carousel", data-bs-interval=15000)
        .carousel-inner
          each image, index in images
            .carousel-item(class=index === 0 ? 'active' : '')
              img.w-100(src=image.url alt=coupleNamesShort, style=image.style)