extends /layout
include /mixins/mapButton
include /mixins/detailsCard
include /mixins/tableOfContents
include /mixins/gemline
include /mixins/countdown

block title
  | #{coupleNamesShort} — Details

block content
  +countdown

  h1.h4.mb-1.mt-4 Wedding Details 
  p.text-muted.mb-4 Everything you need to know for the day 
  
  +tableOfContents

  .vstack.gap-3
    //- When and Where
    +detailsCard('When & Where', 'calendar-event')
      p.small.mb-2 
        | The Ceremony will be held at our beautiful island property, at 
        strong #{locations.ceremony.mapLine()}
        | , starting at 
        strong #{schedule.ceremony().formatted(eventDateRaw)}
        | .
      .my-2 
        +mapButton(locations.ceremony.mapLine())

      p.small.mb-2
        | We welcome you to arrive from 
        strong #{schedule.arrival().formatted(eventDateRaw)}
        |  onwards.

    //- Dress Code
    +detailsCard('Dress Code', 'person-check')
      p.small.mb-2
        strong Cocktail / Semi-Formal 

      ul.small
        li.mb-2
          | Please&nbsp;
          strong
            em avoid 
          | &nbsp;black and white outfits. If you'd like to match the happy couple, blues and greens are perfect.
        li.mb-2
          | The ceremony will be outdoors, so please dress appropriately for the weather. Also bear in mind that 
          | there is a walk to and from the ceremony location from the ferry terminal, so wear comfortable shoes!

    //- Schedule
    +detailsCard('Schedule', 'calendar-event')
      p.small.text-muted All times are in #{eventTZLabel}

      if schedule.events.length
        ul.small.mb-2 
          each event, index in schedule.events
            li.d-flex.mb-1 
              span.fw-semibold.d-flex.fixed-width-45rem #{event.formatted(eventDateRaw)}
              span — &nbsp;#{event.name}
        p.small.text-muted.mb-0
          | We expect to wrap up around #{schedule.endOfDay().formatted(eventDateRaw)}.
      else
        | Schedule TBC

      p.small.text-muted.mb-0.mt-2
        | We'll keep the formalities short - the goal is a relaxed, fun day for everyone.

    //- Getting There
    +detailsCard('Getting There', 'car-front')
      ul.small
        li.mb-2
          | Travel to #{locations.island.name} is by ferry from #{locations.mainland.name}. 
          +mapButton(locations.mainland.mapLine())
        li.mb-2
          | #{locations.mainland.name} also has a bus station with regular services throughout the day.
          | There is also a bus service to the marina from #{locations.trainStation.name}, which takes 
          | about #{travelTimes.trainToMainland} minutes.
          +mapButton(locations.trainStation.mapLine())
        li.mb-2
          | There is parking available at #{locations.mainland.name}, but it is limited and may be subject 
          | to availability. We suggest using the overflow parking, at the nearby #{locations.carPark.name}, 
          | from which there is about a #{travelTimes.carParkToIsland} minute walk across a footbridge to 
          | #{locations.island.name}.
          +mapButton(locations.carPark.mapLine())

    //- Ferry
    +detailsCard('Ferry', 'water')
      ul.small 
        li.mb-2
          | The ferry service between #{locations.mainland.name} and #{locations.island.name} takes #{travelTimes.mainlandToIsland} minutes,
          | depending on the direction of travel.
        li.mb-2
          | You are welcome to arrive any time after&nbsp;
          strong #{schedule.arrival().formatted(eventDateRaw)}
          | ,&nbsp;but the official event does not start until&nbsp;
          strong #{schedule.ceremony().formatted(eventDateRaw)}
          | .&nbsp;The ferry service operates daily, with regular services throughout the day.
          | Bear this in mind as you plan your journey.
        li.mb-2
          | We suggest one of the following services: 
          ul.mt-2 
            each service in ferryServices.toIsland
              li.mb-2
                strong #{service.platform}
                | &nbsp;@&nbsp;
                strong #{service.formattedTime}
                br
                | via&nbsp;
                strong #{service.via}
                br
                | arriving @&nbsp;
                strong #{service.formattedArriving}
            else 
              li.mb-2 
                strong Ferry service times will be confirmed closer to the event.
        li.mb-2
          | The cost for the ferry crossing is #{ferryServices.cost} per person each way.
          | Tickets are available for purchase from the ferry terminal, or on the boat itself.
          | If paying by credit/debit card, simply tap your card or phone to the reader when you board and 
          | disembark the ferry.
        li.mb-2 
          | After the ceremony, we will be returning to the mainland for the 
          a.link-primary(href='#dinner-and-reception', target="_blank", rel="noopener") dinner and reception
          | , using one of the following ferry services:
          ul.mt-2 
            each service in ferryServices.toMainland
              li.mb-2
                strong #{service.platform}
                | &nbsp;@&nbsp;
                strong #{service.formattedTime}
                br
                | via&nbsp;
                strong #{service.via}
                br
                | arriving @&nbsp;
                strong #{service.formattedArriving}
            else 
              li.mb-2 
                strong Ferry service times will be confirmed closer to the event.

        div 
          a.small.fw-semibold.link-primary(
              href=ferryServices.link,
              target="_blank",
              rel="noopener"
          ) Ferry timetable
        
    //- Accommodation
    +detailsCard('Accommodation', 'house')
      p.small.mb-2
        | If you need accommodation in the area, we recommend looking for options in #{locations.suburb.name}.
        | Search for&nbsp;
        strong “#{locations.suburb.name}”
        | &nbsp;on Airbnb, Stayz, Booking.com, or similar.
      p.small.mb-2
        | We suggest booking early — options can be limited.
      p.small.mb-2
        | There are also a small number of rental properties available on #{locations.island.name}. If you choose to stay 
        | on the island, be sure to pay careful attention to the 
        a.link-primary(href=`${ferryServices.link}`, target="_blank", rel="noopener") ferry timetable
        |  to ensure you are not stranded on the mainland overnight after the reception.

    //- On the Island
    +detailsCard('On the Island', 'person-walking')
      ul.small 
        li.mb-2
          | When you arrive at #{locations.island.name}, there is a #{travelTimes.islandToCeremony} minute walk to 
          | the ceremony location. If you'd like to enjoy this walk, please take this time into account.
        li.mb-2
          | If you'd prefer to avoid the walk (which includes a steep hill), let us know in your RSVP,
          | and we can arrange for a taxi to pick you up from the ferry terminal and take you to the ceremony location.
        li.mb-2
          | The ceremony will take place on our beautiful island property, at #{locations.ceremony.name}.
          +mapButton(locations.ceremony.mapLine())

    //- Ceremony
    +detailsCard('Ceremony', 'gem')
      ul.small 
        li.mb-2
          | When you arrive, please feel free to introduce yourself to the other guests and mingle.
          | We'll have some drinks and nibbles available.
        li.mb-2
          | The ceremony will commence at&nbsp;
          strong #{schedule.ceremony().formatted(eventDateRaw)}
          | .&nbsp;Please arrive at the ceremony location by this time.

    //- Dinner and Reception
    +detailsCard('Dinner and Reception', 'cake')
      p.small.mb-4
        | After the ceremony, we'll be travelling to the mainland for the reception, once again using the 
        a.link-primary(href='#ferry', target="_blank", rel="noopener") ferry service
        | .

      ul.small
        li.mb-2
          | The reception will be held at 
          strong #{locations.reception.mapLine()}
          | , starting at 
          strong #{schedule.reception().formatted(eventDateRaw)}
          | .
          +mapButton(locations.reception.mapLine())
        li.mb-2
          | We ask that you make your own way to the reception venue from #{locations.mainland.name}.
          | If you need assistance with this, let us know in your RSVP and we can arrange carpooling.
        li.mb-2
          | It's about a #{travelTimes.mainlandToReception} minute drive from #{locations.mainland.name} to #{locations.reception.name}.
        li.mb-2
          | There is parking available at #{locations.reception.name}, as well as roadside parking nearby.
          if locations.receptionParking.name
            | If you have trouble finding parking, we suggest a nearby carpark at the nearby 
            strong #{locations.receptionParking.name}
            | , from which there is a short walk up a grassy path to the reception.
            +mapButton(locations.receptionParking.mapLine())
        li.mb-2
          | After #{coupleNames} arrive, photos will be taken before dinner is served.
        li.mb-2
          | Stick around after dinner for dancing and fun!

    //- Menu
    +detailsCard('Menu', 'fork-knife')
      - const tagLabels = {}
      each tag in menuTags
        - tagLabels[tag] = tag.split(/\s+/).map(t => t.toUpperCase()).map(t => t === 'VEGAN' ? 'VE' : t.charAt(0)).join('')
      each course in menu 
        p.mb-2 
          strong #{course.name}
        ul.small 
          each item in course.items
            li.mb-1 #{item.name}
              each tag in item.tags
                span.badge.bg-success.ms-1.opacity-50 #{tagLabels[tag]}
      else 
        p.mb-2 The menu will be finalised closer to the event.
        p.small.text-muted.mb-0
          | Check back here later for the final menu.

      if menu.length > 0
        p.small.text-body-tertiary.mb-2.opacity-50
          each tag in menuTags.sort()
            span.me-4.text-nowrap
              span.badge.bg-success #{tagLabels[tag]}
              | &nbsp;-&nbsp;#{tag}

        p.small.text-muted.mb-0
          | If you have any dietary requirements, please let us know in your RSVP.

    //- Guestbook and Photos
    +detailsCard('Guestbook and Photos', 'camera')
      ul.small 
        li.mb-2 
          | We have booked a professional photographer for the ceremony and group photos. We ask that you 
          | please refrain from taking your own photos during these times.
        li.mb-2 
          | Before the ceremony, and at the reception, please feel free to take as many photos as you like!
        li.mb-2
          | You can share your photos with us in our 
          a.link-primary(href="/guestbook") digital guestbook
          | , along with a message for us.
            
    //- Gifts
    +detailsCard('Gifts', 'gift')
      p.small.mb-2
        | We already have a home full of everything we need. If you'd like to give something, a cash 
        | contribution towards our future together would be very much appreciated. To arrange this, contact Alex or Martin directly,
        | or email us at 
        a.link-primary(href=`mailto:${contactEmail}`) #{contactEmail}.
    
    //- ON THE DAY
    +detailsCard('Contact us', 'telephone')
      p.small.mb-2 
        | If you need to contact us, you can reach us at 
        a.link-primary(href=`mailto:${contactEmail}`) #{contactEmail}.
      p.small.mb-2
        | This e-mail address will not be monitored on the day of the wedding.
        | If you get delayed, lost, or have a last-minute question on the day, contact #{contactName} on 
        a.link-primary(href=`tel:${contactPhone.replace(/\s/g, '')}`) !{contactPhone.replace(/\s/g, '&nbsp;')}
